<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.justep.x5.bbs" version="5.3.17">  
  <name>WeX5论坛</name>  
  <description>Justep WeX5 论坛</description>  
  <author email="x5@justep.com" href="http://www.justep.com">北京起步科技有限公司</author>  
  <content src="http://wex5.com/cn/bbs/index.html"/>  
  <access origin="*"/>  
  <access origin="sms:*" launch-external="yes"/>  
  <access origin="tel:*" launch-external="yes"/>  
  <!-- 背景色 -->  
  <preference name="BackgroundColor" value="0xffffffff"/>  
  <!-- 屏幕方向 default, all, portrait, landscape -->  
  <preference name="Orientation" value="all"/>  
  <preference name="SplashScreen" value="screen"/>  
  <preference name="SplashScreenDelay" value="10000"/> 
</widget>
